PORT=3118
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=proyecto_adso_3118315
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=8h
ADMIN_USERNAME=admin
ADMIN_PASSWORD=123
ADMIN_NAME=Administrador
ADMIN_EMAIL=admin@local.test
